--- 
--- 

@import "{{ site.theme }}";

.blog_content {
	@media screen and (max-width: 600px) {
		.column {
			width: 100%;
		}
	}	
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
}

.left {
	width: 70%;
}

.right {
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
} 


.post-nav{
	/* @extend .snp-clearfix;
	@extend .snp-font-16;
	@extend .snp-font-droid-regular;
	margin-top: 100px;
	padding: 20px 0;
	border-top: 1px solid $terminal-green;
	border-bottom: 1px solid $terminal-green; */
	line-height:1;
	.prev{
		float:left;
	}
	.next{
		float:right;
	}
	@media screen and (max-width:480px){
		margin-top:40px;
		font-size:108%; // 14px
	}
}

